@use 'sass:math';
@use 'variables';
@function pxToRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}



.pageContainer{
    width: 100%;
    height: 100vh;
    display: flex;
}





.mainContentArea{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: pxToRem(20px);
    padding-right: pxToRem(20px);
    padding-top: pxToRem(20px);
}

.header{
    display: flex;
    
}


.profileArea{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: pxToRem(12px);
}

.helpButton{
    
    svg{
        height: pxToRem(20px);
        fill: variables.$main-black;
    }
}

.userProfile{

    img{
        height: pxToRem(32px);
        fill: variables.$main-black;
    }
}

.contentArea{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: pxToRem(30px);
    gap: pxToRem(20px);
}




