@use 'sass:math';
@use 'variables';
@function pxToRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}



.pageContainer{
    width: 100%;
    height: 100vh;
    display: flex;
}





.mainContentArea{
    max-height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: pxToRem(20px);
    padding-right: pxToRem(20px);
    padding-top: pxToRem(10px);
    gap: pxToRem(40px);
    
}

.mainContentArea::after{
    position: absolute;
    content: '';
    height: pxToRem(2px);
    width: 100%;
    left: 0;
    background-color: variables.$light-gray;
    top: pxToRem(44px);
    margin-top: pxToRem(10px);
}

.header{
    display: flex;
    position: relative;
    align-items: center;
}




.profileArea{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: pxToRem(12px);
}

.helpButton{
    
    svg{
        height: pxToRem(20px);
        fill: variables.$main-black;
    }
}

.userProfile{

    img{
        height: pxToRem(28px);
        fill: variables.$main-black;
    }
}

.contentArea{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: pxToRem(20px);
    
}




