@use 'variables';
@use 'sass:math';

@function pxToRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}





.container{
    width: 100%;
    display: flex;
    min-width: pxToRem(306px);
    justify-content: center;
}

.passageContainer{
    width: 100%;
    padding-left: variables.$default-test-margin-sides;
    padding-top: calc(variables.$default-test-margin-sides + pxToRem(16px));
    padding-right: pxToRem(44px);
    max-width: pxToRem(500px);
    align-self: center;
}

.blurb{
    margin-bottom: pxToRem(6px);
}


.passageHeader{
    font-weight: bold;
    margin-bottom: pxToRem(6px);
    margin-top: pxToRem(36px);
}

.passageCopyrights{
    margin-top: pxToRem(8px);
    margin-bottom: pxToRem(16px);
    display: flex;
    justify-content: end;
    font-size: pxToRem(10px);
}

.italicText{
    font-style: italic;
}

.graphContainer{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    img{
        width: 100%;
    }
}
.notesContainer{
    display: flex;
    width: fit-content;
    padding-left: pxToRem(44px);
}