@use 'sass:math';
@use 'variables';

@function pxToRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}

.answerChoiceArea{
    display: flex;
    width: 100%;
    height: pxToRem(44px);
    margin-top: pxToRem(20px);
}


.answer{
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid #505050;
    background-color: transparent;
    border-radius: pxToRem(8px);
    flex-grow: 1;
    cursor: pointer;
    position: relative;
}

.answerLetter{
    display: flex;
    align-items: center;
    justify-content: center;

    height: pxToRem(20px);
    width: pxToRem(20px);
    border: pxToRem(2px) solid #505050;
    border-radius: 100%;
    padding-top: pxToRem(0.8px);
    font-weight: 600;
    font-size: pxToRem(12px);
    margin-left: pxToRem(10px);
    color: #505050;
}

.answerText{
    margin-left: pxToRem(16px);
}

.answerCrossoutButton{
    
    all: unset;
    cursor: pointer;
    align-items: center;
    
    height: pxToRem(44px);
    width: pxToRem(44px);
    margin-left: pxToRem(10px);
    .answerLetter{
        font-size: pxToRem(12px);
        font-weight: 900;
        color: variables.$main-dark-color;
        border: pxToRem(1px) solid variables.$main-dark-color;
        height: pxToRem(16px);
        width: pxToRem(16px);    
        position: relative;
    }
    .answerLetter::after{
        content: '';
        position: absolute;
        height: pxToRem(1px);
        width: 150%;
        background-color: variables.$main-dark-color;
        top: calc(50% - pxToRem(0.5px));      
    }
    h6{
        all: unset;
        font-size: pxToRem(14px);
        text-decoration: underline;
        font-weight: bold;
        padding-left: pxToRem(4px);
    }
}


.crossAnswerChoice::after{
    content: '';
    position: absolute;
    height: pxToRem(1px);
    left: calc(0% - pxToRem(8px));
    width: calc(100% + pxToRem(16px));
    background-color: variables.$main-dark-color;
}

.inactiveText{
    opacity: 0.5;
}

.selectedBlue{
    border: pxToRem(1px) solid variables.$blue-color;
    outline: pxToRem(2px) solid variables.$blue-color;
    
}

.selectedYellow{
    border: pxToRem(1px) solid variables.$blue-color;
    outline: pxToRem(2px) solid variables.$light-orange-color;
}

