@use 'variables';
@use 'sass:math';

@function pxToRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}


#blurb{
    margin-bottom: pxToRem(6px);
}

.passage{
    margin-left: variables.$default-test-margin-sides;
    margin-top: calc(variables.$default-test-margin-sides + pxToRem(16px));
    margin-right: pxToRem(44px);
    max-width: pxToRem(500px);
    align-self: center;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: pxToRem(306px);
}