@use 'variables';
@use 'sass:math';

@function pxToRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}


.testBody{
    display: flex;
    
    justify-content: space-between;
    flex-grow: 1;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.borderBox {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    user-select: none;
    z-index: -1;
    path{
        fill: none;
        stroke: black;
        stroke-width: 4;
      }
  }

