
:root{
    --light-blue: #E6EDF8;
    --blue: #324DC7;
    --dark: #1E1E1E;
    --default-margin-sides: 3.2rem;
    --header-4: 2rem;
    --header-5: 1.5rem;
    --header-6: 1.2rem;
    
}


* {
    margin: 0;
    font-size: 62.5%;
    font-family: Roboto;
    color: var(--dark);
}

h4{
    font-size: var(--header-4);
    font-weight: 450;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
h5{
    font-size: var(--header-5);
    font-weight: 450;
    
}
h6{
    font-size: var(--header-6);
    font-weight: 450;
    margin-top: 0.6rem;
}

.test-header{

    background-color: var(--light-blue);
    position:absolute;  
    width: 100%;
}
.grid-container{
    
    display: grid;   
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem ;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    height: 6rem;
}

.test-header svg{
    height: 1.7rem;
}
.part-name-section{
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    
}

.timer-section{
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
}

.timer-section button{
    width: fit-content;
    text-decoration: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 999rem;
    border: 0.1rem solid var(--dark);
    background-color: rgb(0,0,0,0);
    cursor: pointer;
}



.highlights-and-more{
    grid-column: span 4;    
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: end;
    justify-content: end;
}

.highlights-section{
    
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.more-section{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.highlight-icons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.test-footer { 
    left:0px;
    bottom:0px;
}


#test-questions-button{
    background-color: var(--dark);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: none;
    border-radius: 0.6rem;
}

#test-questions-button h5{
    color: white;
    font-weight: 700;

}

#next-sat-button{
   background-color: var(--blue);
   padding-top: 0.8rem;
   padding-bottom: 0.8rem;
   border: none;
   border-radius: 999rem;
   padding-left: 2.5rem;
   padding-right: 2.5rem;
   padding-top: 1.2rem;
   padding-bottom: 1.2rem;
   align-self: flex-end;
}

#next-sat-button h5{
    color: white;
    font-weight: 700;
    
}

