@use 'sass:math';

@function pxToRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}

$light-blue-color: #E6EDF8;
$blue-color: #c3cdfa;
$main-dark-color: #1E1E1E;
$default-test-margin-sides:  pxToRem(36px);
$header-4: pxToRem(20px);
$header-5: pxToRem(14px);
$header-6: pxToRem(12px);