.testPassage{
    background-color: red;
    max-width: 66%;
    min-width: 33%;
    flex-shrink: 0;
}


#resizer{
    
    min-width: 6px;
    background-color: blueviolet;
    cursor:col-resize;
    
}